body {
	background: url('../images/ancient-relic-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
}

h2 {
	color: yellow;
}

.health {
	font-family: 'Courier';
	color: white;
	font-size: 16px;
	background: black;
	border-radius: 10px;
}

.allCharas {
	float:left; 
	width:20%;
}

.col-xs-3 {
	width: 25%;
}

.btn-danger .btn-info {
	margin: 5px;
}

.hero-img {
	width: 300px;
	height: 400px;
	border-color: white;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.foe-img {
	width: 300px;
	height: 400px;
	border-color: red;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

img .defeated {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.allCharas img {
	width: 100%;
	padding: 2px;
}

#attack-btn {
	vertical-align: bottom;
}

#reset-btn {
	vertical-align: top;
}

#logo {
	margin-top: 60px;
	padding: 5px;
	height: auto;
	width: 100%;
}

#instructions {
	padding: 5px;
	margin-left: 15px;
	height: auto;
	width: 90%;
}

#selectable {
	margin: 5px;
	margin-top: 75px;
}
/*
#outcome {
	content:url('../images/outcome_placeholder.jpg');
	padding: 5px;
	margin-left: 50px;
	width: 300px; 
}*/
/*
#agnes {
	content:url('../images/agnes.jpg');
	width: 175px;
	height: auto;
	margin: 5px;
}

#daisy {
	content:url('../images/daisy.jpg');
	width: 175px;
	height: auto;
	margin: 5px;
}

#marie img {
	width: 100%;
	height: auto;
	margin: 5px;
}

#monty {
	content:url('../images/monterrey.jpg');
	width: 175px;
	height: auto;
	margin: 5px;
}

#sistermary {
	content:url('../images/sister-mary.jpg');
	width: 175px;
	height: auto;
	margin: 5px;
}

#skids {
	content:url('../images/skids.jpg');
	width: 175px;
	height: auto;
	margin: 5px;
}
*/